@import url(./header.css);
@import url(./content.css);

*{
    margin: 2px 0;
}

body{
    background-color: #111111;
    font-family: Arial, Helvetica, sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  ::-webkit-scrollbar-track {
    background-color: #18181b;
    outline: 1px solid #0f03;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #0f05;
    border-radius: 8px;
    border: 2px solid #181422;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #0f07;
    border: 2px solid #1f1147;
  }